{% extends "layout.html" %}
{% block content %}
        <div>
            <h1>Analyze Yourself!</h1>
            <br>
            <form action="/analyze_yourself" method="post">
                {% for question_1 in data_1 %}
                <h2>{{ question_1.question_1 }}</h2> 

                {% for answer_1 in question_1.answers_1 %}
                <input type="radio" id="{{ answer_1 }}" name="{{ question_1.id_1 }}" value="{{ answer_1 }}"> {{ answer_1 }}<br>
                {% endfor %}

                {% endfor %} 
                <br>
                <input type="submit" value="Submit" name="Submit"/> 
            </form>
        </div>
{% endblock content %} 